.auto-type-title {
  font-size: 4rem;
  /* padding-left: 2rem; */
  color: brown;
  font-family: sans-serif;
}

.auto-type-cursor {
  color: rgb(71, 13, 13);
  position: relative;
}

.auto-type-cursor::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgb(71, 13, 13);
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
