.fade-wrapper {
  width: 500px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.fade-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
